<style>
    .horizontal-pie-data-wrap {
        border: solid #ccc 1px;
        border-radius: 2px;
        box-sizing: content-box;
        width: {{$ctrl.options.width}}px;
        height: {{$ctrl.options.height}}px;
        line-height: {{$ctrl.options.height}}px;
    }

    .horizontal-pie-data {
        float: left;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .horizontal-pie-value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .horizontal-pie-tooltip {
        height: 30px;
        line-height: 30px;
        background-color: white;
        border-radius: 5px;
        border: solid #666 1px;
    }

    .horizontal-pie-tooltip > div {
        float: left;
    }

    .horizontal-pie-color-viewer {
        margin: 8px;
        width: 12px;
        height: 12px;
        border: solid #ccc 1px;
    }

    .horizontal-pie-title {
        text-align: center;
        font-size: 1.25em;
        width: {{$ctrl.options.width}}px;
    }

    .horizontal-pie-legend {
        margin-top: 3px;
        display: inline-block;
        /*border: solid #ccc 1px;*/
        box-sizing: content-box;
        height: 30px;
        line-height: 30px;
        width: {{$ctrl.options.width}}px;
    }

    .horizontal-pie-legend div {
        float: left;
    }
</style>

<div ng-if="$ctrl.data">
    <div class="horizontal-pie-title">{{$ctrl.options.title}} ({{$ctrl.options.valueSuffix}})</div>
    <div class="horizontal-pie-data-wrap">
        <div class="horizontal-pie-data" ng-repeat="d in $ctrl.data" style="background-color: {{d.color}}; width: {{d.width}}px; height: 100%">
            <div class="horizontal-pie-value" style="color: {{d.textColor;}}">{{d.legend}}: {{d.value}}{{$ctrl.options.valueSuffix}}</div>
            <div class="horizontal-pie-tooltip" style="display: none; position: fixed;">
                <div class="horizontal-pie-color-viewer" style="background-color: {{d.color}}"></div>
                <div style="margin-right: 10px">{{d.legend}}: {{d.value}}{{$ctrl.options.valueSuffix}}</div>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.options.showLegend" class="horizontal-pie-legend">
        <div ng-repeat="d in $ctrl.data">
            <div class="horizontal-pie-color-viewer" style="background-color: {{d.color}}"></div>
            <div style="margin-right: 10px">{{d.legend}}</div>
        </div>
    </div>
</div>
